.chatbox{
	height: 300px;
	width: 476px;
	padding:15px;
	overflow: scroll;
	border:1px solid grey;
}
.user_name{
	color:maroon;
	display: block;
	padding: 5px 0px 5px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;

}
.messages{
	color:white;
	display: block;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #ccc;
  	background-color:  #666969;
  	font-size: 13px;
  	padding: 5px;

}
.hdr{
	background-color: #004D6E;
	border-bottom: 1px solid grey;
	padding:10px;
	color:white;
}
.ask{
	margin-right: 10px;
}
